{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Reming - Reparacion Equipo Medico Ingenería </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" type="image/png" href="{% static 'images/logo-head.png' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		{% tailwind_css %}
	</head>

	<body class="bg-white text-gray-900">
    
		{% include 'partials/navbar.html' %}
		
		<main>
			{% include 'partials/carousel.html' %}
			{% block content %}{% endblock %}
		</main>
		
		{% include 'partials/footer.html' %}
		
	</body>
</html>
